.App {
  background-color: #e2e2e2;
  display: grid;
  
  grid-template-rows: auto auto auto;
  grid-template-columns: 100%;
  grid-template-areas: "hdr" "nav" "lnt";
  grid-row-gap: 15px;
  justify-items: center;
}

Header {
  grid-area: hdr;
}

Navbar {
  grid-area: nav;
}

Lenta {
  grid-area: lnt;
}
